<!-- begin subscribe -->

<section class="c-subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="c-subscribe__inner">
          <div class="c-subscribe__info">
            <h3 class="c-subscribe__title">{{ site.data.settings.newsletter__settings.newsletter_title }}</h3>
            <div class="c-subscribe__subtitle">
              <span id="ityped"></span>
            </div>
          </div>
            <form
              class="c-subscribe__form"
              action="{{ site.data.settings.newsletter__settings.newsletter_identifier }}"
              method="post"
              accept-charset="utf-8"
            >
              <label class="screen-reader-text" for="newsletter-email">
                Email address
              </label>

              <input
                class="c-subscribe__form-email required email"
                id="newsletter-email"
                type="email"
                name="email"
                placeholder="Your email address"
                autocomplete="email"
                required
              >

              <input type="hidden" name="embed" value="1">

              <button
                class="c-button c-button--primary c-button--large"
                type="submit"
              >
                {{ site.data.settings.newsletter__settings.newsletter_button }}
              </button>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end subscribe -->

<script>
  var itype_text = ['{{ site.data.settings.newsletter__settings.newsletter_description }}'];
</script>
