---
layout: default
---

{% if page.title and page.title != "" %}
<div class="container">
    <div class="c-page-heading">
        <h1 class="c-page-heading__title">{{ page.title }}</h1>
    </div>
</div>
{% endif %}

{% if page.image and page.image != "" %}
<div class="container">
    <div class="row">
        <div class="col col-12">
            <div class="c-page-image animate">
                <img
                    alt="{{ page.image-alt | default: page.title | escape }}"
                    data-cms-original-src="{{ page.image }}"
                    loading="lazy"
                    src="{% if page.image contains '://' %}{{ page.image }}{% else %}{{ site.baseurl }}{{ page.image }}{% endif %}">
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container animate">
    <article class="post">
      <div class="post__content">  

        {% if page.toc == true %}
        <div class="post__toc">
          <h2 class="post__toc__title">Table of Contents</h2>
          {% include toc.html html=content ordered=false class="post__toc__list" h_min=2 %}
        </div>
        {% endif %}
                
        {{ content }}
      </div>
    </article>
</div>
